.login-div {
    position: fixed;
    margin-top: 5%;
    border: solid 2px;
    padding: 45px;
}

.submit-btn {
    width: 100%;
}

.my-header {
    text-decoration: underline;
    /* font-family: 'brush script mt'; */
}
.powder-blue {
    background-color: #4056a1 !important;
}
.yellow {
    background-color: #d79922 !important;
}
.water-melon {
    background-color: #f13c20!important;
}
header a:hover {
    color: #fff;
}
.big-number {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-align: center;
}
.main-header {
    text-align: center;
    color: #4056a1;
}
.click-btn {
    padding: 6px;
    margin-right: 10px;
    text-decoration: none;
    border: solid transparent 2px;
    border-radius: 50%;
}
.edit:hover {
    border: solid #d79922 2px;
    color: #d79922;
    text-decoration: none;
    transition-duration: 0.6s;
}
.view:hover {
    border: solid #4056a1 2px;
    color: #4056a1;
    text-decoration: none;
    transition-duration: 0.6s;
}
.delete:hover {
    border: solid #f13c20 2px;
    color: #f13c20;
    text-decoration: none;
    transition-duration: 0.6s;
}
th:nth-child() {
    color: #f13c20;
}
.my-form {
    padding: 6px;
    border-radius: 5px;
    border: solid 1px;
    width: 70%;
}
.my-button:hover {
    background-color: #343a40;
}