.login-div {
    position: fixed;
    margin-top: 5%;
    border: solid 2px;
    padding: 45px;
}

.submit-btn {
    width: 100%;
}

.my-header {
    text-decoration: underline;
    /* font-family: 'brush script mt'; */
}
.powder-blue {
    background-color: #4056a1 !important;
}
.yellow {
    background-color: #d79922 !important;
}
.water-melon {
    background-color: #f13c20!important;
}
a:hover {
    color: #fff;
}