.login-div {
    position: fixed;
    margin-top: 5%;
    border: solid 2px;
    padding: 45px;
}

.submit-btn {
    width: 100%;
}

.my-header {
    text-decoration: underline;
    /* font-family: 'brush script mt'; */
}
.powder-blue {
    background-color: #4056a1 !important;
}
.yellow {
    background-color: #d79922 !important;
}
.water-melon {
    background-color: #f13c20!important;
}
header a:hover {
    color: #fff;
}
.big-number {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-align: center;
}
.main-header {
    text-align: center;
    color: #4056a1;
}
.edit, .edit:hover {
    margin-right: 15px;
    text-decoration: none;
}
.view, .view:hover {
    margin-right: 15px;
    text-decoration: none;
}
.delete, .delete:hover {
    margin-right: 15px;
    text-decoration: none;
}